body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(255, 163, 163);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form{
    background-color: rgb(255, 206, 194);
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    width: 350px;
}

form input{
    display: block;
    background: none;
    margin: 18px auto;
    padding: 8px;
    text-align: center;
    border: 2px solid rgb(244, 255, 182);
    outline: nonel;
    width: 180px;
    font-size: 22px;
    border-radius: 10px;
}

form input [type="submit"]{
    cursor: pointer;
    font-size: 32px;
    font-weight: 800;
    background-color: rgb(241, 255, 160);
    color: white;
}

form input [type="correctAnswer"]{
    cursor: pointer;
    font-size: 32px;
    font-weight: 800;
    background-color: rgb(241, 255, 160);
    color: white;
}