body{
    background-color:rgb(240, 255, 240);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    text-align:center;
}

form{
    background-color: rgb(255, 206, 194);
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    width: 350px;
}

form input{
    display: block;
    background: none;
    margin: 18px auto;
    padding: 8px;
    text-align: center;
    border: 2px solid rgb(244, 255, 182);
    outline: nonel;
    width: 180px;
    font-size: 22px;
    border-radius: 10px;
}

form input [type="submit"]{
    cursor: pointer;
    font-size: 32px;
    font-weight: 800;
    background-color: rgb(241, 255, 160);
    color: white;
}

form input [type="correctAnswer"]{
    cursor: pointer;
    font-size: 32px;
    font-weight: 800;
    background-color: rgb(241, 255, 160);
    color: white;
}

.menu{
    background-color: rgb(215, 255, 215);
    overflow: hidden;
}

.menu a{
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    
}

.menu a:hover{
    background-color:rgb(174, 221, 143)
}

.menu a.active{
    background-color: rgb(172, 255, 241);
}
