body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(193, 243, 243);
    color:rgb(0, 0, 0)
}

h1{
    color:rgb(0, 0, 0)
}

.btn{
    background-color: rgb(250, 165, 250);
}