body{
    color:rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    font-size:16px;
    background-color: rgb(240, 255, 240);
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(0, 0, 0);
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    position: absolute;
    left: 25%;
    top: 25%;
    width: 200px;
}

header{
    text-align: center;
}

a{
    text-decoration: none;
    color:rgba(21 14 65 0.568)

}

a:hover{
    color:crimson
}

.btn{
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    background-color:aquamarine;
    color: white;
    border-radius: 14px 12px 5px 5px;
}

.menu{
    background-color: rgb(215, 255, 215);
    overflow: hidden;
}

.menu a{
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    
}

.menu a:hover{
    background-color:rgb(174, 221, 143)
}

.menu a.active{
    background-color: rgb(172, 255, 241);
}