body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form{
    background-color: lightgray;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    width: 350px;
}

form input{
    display: block;
    background: none;
    margin: 18px auto;
    padding: 8px;
    text-align: center;
    border: 2px solid blue;
    outline: nonel;
    width: 180px;
    font-size: 22px;
    border-radius: 10px;
}

form input [type="submit"]{
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    background-color: blue;
    color: white;
}

